In [1]:
import pandas as pd

In [2]:
df = pd.read_parquet("gs://cybulde-bucket/data/processed/rebalanced_splits/train.parquet")

In [7]:
df.sample(n=10)

,label,split,dataset_name,text,cleaned_text
69104,0,train,jtc,", 22 October 2013 (UTC) ::::No, I do actuall...",october etc no i actually especially claims re...
156295,0,train,jtc,""" Sockpuppetry case Your name has been ment...",soc puppetry case your name mentioned connecti...
86439,0,train,jtc,a list with sentence fragments,list sentence fragments
44880,1,train,twitter,"Columbian niggas outchea tweaking on TV, getti...",columbian niggas out he tweaking to getting di...
152457,0,train,jtc,"Rambling Man|talk]]) 14:45, 2 March 2010",rambling man talk march
111975,1,train,jtc,fuck u fuck you vandal,fuck a fuck vandal
100267,0,train,jtc,"The root s-l-m makes up hundreds of words, not...",the root sam makes hundreds words salem mentio...
14788,0,train,ghc,"World War II was a holocaust on all humanity, ...",world war ii holocaust humanity like first fuc...
54065,1,train,jtc,"No merge for Homsar. Yes, Homsar is sad and pa...",no merge homer yes homer sad pathetic worthles...
105574,0,train,jtc,"""*Mackey, Robert. """"While Posing as a Syrian L...",mickey robert while posing syrian lesbian male...

In [11]:
df[df["cleaned_text"].str.len() == 0].sample(n=10)

,label,split,dataset_name,text,cleaned_text
109380,0,train,jtc,Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§Ù„Ø§...,
20261,0,train,ghc,https://youtu.be/k89y-JMoxcA,
131528,0,train,jtc,1hello what is your name935,
10691,0,train,ghc,https://www.jpost.com/Middle-East/Analysis-Who...,
26,0,train,ghc,https://thegoldwater.com/news/29277-Canada-Tru...,
130776,0,train,jtc,R5 R5 R5 R5 R5 R5!!!!!!!!!!!!!!!!!...,
106206,0,train,jtc,Kosova2008,
6901,0,train,jtc,Ú©ØªØ§Ø¨Ø®Ø§Ù†Ù‡ Ø¢Ø³ØªØ§Ù†Ù‡ Ú©ØªØ§Ø¨Ø®Ø§Ù†Ù‡ Ø¢Ø³ØªØ§Ù†Ù‡ Ù‡Ù… Ø§Ú©Ù†ÙˆÙ† Ø¨...,
21117,0,train,ghc,ğŸ‡ºğŸ‡¸ğŸ”´ğŸ”µâšªï¸ğŸ‡ºğŸ‡¸ğŸ”´âšªï¸ğŸ”µğŸ‡ºğŸ‡¸ğŸ”´âšªï¸ğŸ”µğŸ‡ºğŸ‡¸,
88431,0,train,jtc,Ø³Ù„Ø§Ù… Ø³Ø§Ù…Ú© Ø¬Ø§Ù† Ø®Ø³ØªÙ‡ Ù†Ø¨Ø§Ø´ÛŒØ¯! Ø§Ù†Ú¯Ø§Ø± Ø¢Ø°Ø¨ ÙˆÛŒÚ©ÛŒ Ø§...,

In [13]:
another_df = df[df["cleaned_text"].str.split().apply(len) > 1]

In [14]:
another_df[another_df["cleaned_text"].str.split().apply(len) < 2]

Empty DataFrame
Columns: [label, split, dataset_name, text, cleaned_text]
Index: []